* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5F1E80;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: flex-start;
    background-color: #3A0A53;
}

.header {
    width: 1320px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 20px 0 0;
}

.nav {
    display: flex;
    gap: 50px;
}

.nav-a {
    color: #fff;
    font-size: 1em;
}

.nav-a:hover {
    cursor: pointer;
    background-color: #5F1E80;
}

.main {
    width: 1320px;
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding: 50px;
    color: #fff;
}

.p {
    width: 660px;
    line-height: 1.5;
    font-size: 1em;
    color: #fff;
    padding: 30px 0;
}

.form-wrapper {
    background-color: #fff;
    border: 2px solid rgb(155, 30, 99);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.form-header {
    color: rgb(155, 30, 99);
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 25px;
}

.form-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-wrapper {
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: left;
    position: relative;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    height: 40px;
}

.input {
    height: 40px;
    padding: 5px 40px 5px 5px;
    margin: 2px 0;
    border: none;
    outline: 2px solid rgb(155, 30, 99);
    border-radius: 6px;
    color: #000;
    font-size: 1em;
}

.checkbox {
    background: transparent;
    margin: 0 10px 0 0;
}

.input-label {
    font-size: .8em;
    color: rgb(155, 30, 99);
    height: 15px;
    cursor: pointer;
}

.checkbox-label {
    font-size: 1em;
    color: rgb(155, 30, 99);
    height: 15px;
    margin: 0 0 2px 0;
    cursor: pointer;
}

.input-help {
    font-size: .8em;
    color: gray;
    padding: 0 0 0 5px;
}

.form-submit {
    color: #fff;
    width: 298px;
    height: 40px;
    background-color: rgb(155, 30, 99);
    border-radius: 6px;
    border: none;
    margin: 10px 0;
    padding: 5px;
    outline: 1px solid rgb(155, 30, 99);
    font-size: 1em;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #5F1E80;
}

.toggle {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 29px;
    right: 15px;
    cursor: pointer;
}

.show {
    background: url(/assets/img/show.png) no-repeat;
    background-size: auto auto;
    background-position: center;
}

.hide {
    background: url(/assets/img/hide.png) no-repeat;
    background-size: auto auto;
    background-position: center;
}

.invalid {
    background-color: rgb(255, 198, 198);
}

.error {
    color: rgb(155, 30, 99);
    font-weight: 600;
    height: 20px;
    width: 300px;
}

.vk {
    border: none;
    outline: none;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background: url("/assets/img/vk.svg") no-repeat;
    background-size: auto auto;
    background-position: center;
    cursor: pointer;
}

.btn {
    color: #5F1E80;
    font-size: 1em;
    text-transform: uppercase;
    margin: 50px;
    width: 150px;
    height: 40px;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background-color: #5F1E80;
    color: #fff;
}